<div class="panel">
          <div class="panel-body">
            <!--/stories-->
                      <div class="panel-body">
            <h1>This is details page about, movies</h1>
           
            <div class="row">
             <div class="col-md-10 col-sm-9">
                <h3><%=product[0].productName%></h3>
             </h2><%=product[0].productCode%></h2>
            </h2><%=product[0].description%>
                </div>
              </div>
            </div>


     </div>

     </div>
      </div>